.search-box {
    -webkit-appearance: none;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    outline: none;
    line-height: 30px;
    width: 200px;
    color: rgb(0, 47, 255);
    font-size: 18px;
    font-weight: bolder;
}